<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="beds" placeholder="Beds" required="required" />
      <input type="text" name="baths" placeholder="Baths" required="required" />
      <input type="text" name="sqft" placeholder="Sqft" required="required" />
      <input type="text" name="year_built" placeholder="Built Year" required="required" />
      <input type="text" name="lot_size" placeholder="Lot Size" required="required" /><br>
      <input type="text" name="property_type" placeholder="Property Type" required="required" />
      <input type="text" name="exterior_walls" placeholder="Exterior walls" required="required" />
      <input type="text" name="roof" placeholder="Roof Type" required="required" />
      <input type="text" name="basement" placeholder="Basement" required="required" />
      <input type="text" name="restaurants" placeholder="Restaurants" required="required" /><br>
      <input type="text" name="groceries" placeholder="Groceries" required="required" />
      <input type="text" name="nightlife" placeholder="Nightlife" required="required" />
      <input type="text" name="cafes" placeholder="Cafes" required="required" />
      <input type="text" name="shopping" placeholder="Shopping" required="required" />
      <input type="text" name="arts_entertainment" placeholder="Arts_entertainment" required="required" /><br>
      <input type="text" name="beauty_spas" placeholder="Beauty_spas" required="required" />
      <input type="text" name="active_life" placeholder="Active_life" required="required" />
      <input type="text" name="median_age" placeholder="Median age" required="required" />
      <input type="text" name="married" placeholder="Married" required="required" />
      <input type="text" name="college_grad" placeholder="College grad" required="required" /><br>
      <input type="text" name="property_tax" placeholder="Property tax" required="required" />
      <input type="text" name="insurance" placeholder="Insurance" required="required" />
      <input type="text" name="median_school" placeholder="Median_school" required="required" />
      <input type="text" name="num_schools" placeholder="Num_schools" required="required" />
      <input type="text" name="tx_year" placeholder="Tx_year" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>

